<header class="flex justify-between items-center px-12 py-8">
    <div class="text-3xl font-bold flex items-center space-x-2">
        <span class="text-black">(l)</span>
        <span>Library</span>
    </div>
    <nav class="hidden md:flex flex-1 justify-between text-gray-700 text-sm">
        <div class="flex ml-5 space-x-6">
            <a href="#" class="hover:text-black">Home</a>
            <a href="#" class="hover:text-black">How it Works</a>
            <a href="#" class="hover:text-black">Subscription Plans</a>
        </div>
        <div class="flex space-x-6">
            <a href="#" class="hover:text-black">Contact Sales</a>
            <a href="#" class="hover:text-black">Log in</a>
        </div>
    </nav>
</header>