/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --container-4xs: 10rem;
    --container-1sm: 30rem;
}

body {
    font-family: 'Inter', sans-serif;
}

.overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}